.inputgroup {
    border-radius: 50px;
}

    .inputgroup button {
        border: none;
        background-color: transparent;
        color: rgba(216, 34, 83, 255);
        font-size: 20px;
    }

    .inputgroup input {
        all:unset;
        border: none;
        background-color: transparent;
        width: 50px;
        font-size: 20px;
    }

.table {
    table-layout: fixed; /* Bắt buộc bảng sử dụng độ rộng cố định */
    width: 100%; /* Hoặc đặt giá trị cụ thể như 500px */
}

.table th:nth-child(1) {
    width: 50%; /* Cột "Sản phẩm" */
}

.table tr td p {
    word-wrap: break-word; /* Bẻ dòng khi từ quá dài */
    overflow-wrap: break-word; /* Đảm bảo tương thích trình duyệt */
    margin: 0;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}    

.table th:nth-child(2) {
    width: 15%; /* Cột "Số lượng" */
    text-align: center;
}

    .table th:nth-child(3) {
        width: 30%;
        text-align: center;
    }

    .table th:nth-child(4) {
        width: 5%; /* Cột "Tạm tính" */
        text-align: center;
    }
